.snippet-controls {
  margin-left: 14px;
  margin-right: 0;
  margin-top: -24px;
  position: relative;
  top: 34px;
  z-index: 2;
}

.article-title {
  line-height: 90px;
}

.markdown-body {
  h1 {
    @apply my-12 text-3xl font-bold text-gray-700;
  }

  h2 {
    @apply pb-2 my-12 text-xl font-bold leading-6 text-gray-700 border-b border-gray-300 sm:my-6 sm:text-2xl;

    .clip {
      display: none;
    }
  }

  h2:hover .clip {
    display: inline-flex;
  }

  h3 {
    @apply pb-2 my-3 text-lg font-bold leading-6 text-gray-700 border-b border-gray-300 sm:my-6 sm:text-xl;
  }

  p {
    @apply my-2 text-lg leading-8 text-gray-600 break-words sm:my-5 sm:text-lg sm:leading-9;
  }

  a {
    @apply font-normal text-blue-400 underline;
  }

  ul {
    @apply mx-5 list-disc;

    li {
      @apply my-2 text-lg leading-6 text-gray-600 break-words sm:text-lg;
    }
  }

  code {
    @apply text-lg font-medium rounded-sm bg-gray-200 p-1 leading-6 text-gray-600 break-words;
  }

  pre {
    @apply my-4 sm:my-5;

    div {
      @apply rounded-sm;

      code {
        @apply text-lg font-medium leading-6 text-gray-300 break-words;
      }
    }
  }

  blockquote {
    @apply p-2 my-10 italic text-gray-600 bg-gray-100 border-l-4 border-blue-500 rounded-sm;
  }

  img {
    @apply mx-auto my-10 rounded-sm shadow max-h-96;
  }

  iframe {
    @apply max-w-full mx-auto my-10 rounded-sm shadow;
  }

  .html {
    @apply relative p-4 my-12 border-2 border-gray-300 rounded-sm shadow-lg bg-gray-50;

    &::before {
      @apply bg-gray-200;

      content: "HTML 実行結果";
      display: inline-block;
      font-family: "Source Sans Pro", "Roboto", "Open Sans", Arial, sans-serif;
      font-size: 1rem;
      font-weight: 700;
      height: 1rem;
      left: -1px;
      letter-spacing: 0.1em;
      line-height: 1rem;
      padding: 0 1em;
      position: absolute;
      text-transform: uppercase;
      top: -15px;
      top: 0;
    }
  }

  .table-responsive {
    display: block;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: auto;
    width: 100%;
  }

  table {
    font-size: 0.875em;
    width: 100%;

    @apply my-12 bg-gray-100;

    tbody {
      border-color: inherit;
      display: table-row-group;
      vertical-align: middle;
    }

    tr {
      border-color: inherit;
      display: table-row;
      vertical-align: inherit;

      th {
        background: #eee;
        border: 1px solid #ccc;
        font-weight: 400;
        text-align: left;
        white-space: nowrap;

        @apply p-1 overflow-auto bg-gray-200;
      }

      td {
        border: 1px solid #ccc;
        padding: 0.5em 1em;
        vertical-align: top;

        @apply p-1;
      }
    }
  }
}
