name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v2

      # - name: Setup node
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: '14.16.0'

      # - name: Install dependencies
      #   run: yarn --frozen-lockfile

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn semantic-release
